In [17]:
import pandas as pd
#Gather as much most recent data and keep under the 15 million Tableau limit on rows
bike_201810_df = pd.read_csv("201810-citibike-tripdata.csv")
bike_201809_df = pd.read_csv("201809-citibike-tripdata.csv")
bike_201808_df = pd.read_csv("201808-citibike-tripdata.csv")
bike_201807_df = pd.read_csv("201807-citibike-tripdata.csv")
bike_201806_df = pd.read_csv("201806-citibike-tripdata.csv")
bike_201805_df = pd.read_csv("201805-citibike-tripdata.csv")
bike_201804_df = pd.read_csv("201804-citibike-tripdata.csv")
bike_201803_df = pd.read_csv("201803-citibike-tripdata.csv")
bike_201802_df = pd.read_csv("201802-citibike-tripdata.csv")

#pd.DataFrame.equals(list(bike_201809_df.columns),list(bike_201810_df.columns)
print(list(bike_201810_df.columns)==list(bike_201809_df.columns)==list(bike_201808_df.columns)
     ==list(bike_201807_df.columns)==list(bike_201806_df.columns)==list(bike_201805_df.columns)
     ==list(bike_201804_df.columns)==list(bike_201803_df.columns)==list(bike_201802_df.columns))

True

In [19]:
bike_df = pd.concat([bike_201810_df, bike_201809_df, bike_201808_df, 
                      bike_201807_df, bike_201806_df, bike_201805_df,
                      bike_201804_df, bike_201803_df, bike_201802_df])

In [21]:
bike_df.to_csv('bike_data_201802_thru_201810.csv')

In [11]:
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2018-10-01 00:00:00.7010,2018-10-01 00:05:30.8490,293.0,Lafayette St & E 8 St,40.730207,-73.991026,504.0,1 Ave & E 16 St,40.732219,-73.981656,30493,Subscriber,1995.0,1
1,309,2018-10-01 00:00:13.5780,2018-10-01 00:05:23.2310,433.0,old - E 13 St & Avenue A,40.729554,-73.980572,394.0,E 9 St & Avenue C,40.725213,-73.977688,33054,Subscriber,1967.0,1
2,734,2018-10-01 00:00:16.6040,2018-10-01 00:12:31.5050,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33400,Subscriber,1983.0,2
3,788,2018-10-01 00:00:35.0670,2018-10-01 00:13:43.5780,417.0,Barclay St & Church St,40.712912,-74.010202,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,31140,Customer,1988.0,1
4,1136,2018-10-01 00:00:38.1410,2018-10-01 00:19:34.6490,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,495.0,W 47 St & 10 Ave,40.762699,-73.993012,20294,Subscriber,1969.0,0

In [20]:
bike_df.shape

(14552485, 15)

In [40]:
#October Data 2014 through 2018
bike_201810_df = pd.read_csv("201810-citibike-tripdata.csv")
bike_201810_df['year']=2018
bike_201710_df = pd.read_csv("201710-citibike-tripdata.csv")
bike_201710_df['year']=2017
bike_201610_df = pd.read_csv("201610-citibike-tripdata.csv")
bike_201610_df['year']=2016
bike_201510_df = pd.read_csv("201510-citibike-tripdata.csv")
bike_201510_df['year']=2015
bike_201410_df = pd.read_csv("201410-citibike-tripdata.csv")
bike_201410_df['year']=2014


#pd.DataFrame.equals(list(bike_201809_df.columns),list(bike_201810_df.columns)
print(list(bike_201810_df.columns)==list(bike_201710_df.columns)==list(bike_201610_df.columns)
     ==list(bike_201510_df.columns)==list(bike_201410_df.columns))

False

In [41]:
print(list(bike_201810_df.columns)==list(bike_201710_df.columns))
print(list(bike_201610_df.columns)==list(bike_201510_df.columns))
print(list(bike_201510_df.columns)==list(bike_201410_df.columns))
print(list(bike_201810_df.columns)==list(bike_201410_df.columns))

True
False
True
True

In [42]:
print(list(bike_201810_df.columns))
print(list(bike_201610_df.columns))

['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender', 'year']
['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude', 'Start Station Longitude', 'End Station ID', 'End Station Name', 'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type', 'Birth Year', 'Gender', 'year']

In [43]:
bike_201610_df.columns=list(bike_201810_df.columns)
print(list(bike_201810_df.columns)==list(bike_201710_df.columns)==list(bike_201610_df.columns)
     ==list(bike_201510_df.columns)==list(bike_201410_df.columns))

True

In [44]:
bike_oct_df = pd.concat([bike_201810_df, bike_201710_df, bike_201610_df, 
                      bike_201510_df, bike_201410_df])

In [45]:
bike_oct_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year
0,330,2018-10-01 00:00:00.7010,2018-10-01 00:05:30.8490,293.0,Lafayette St & E 8 St,40.730207,-73.991026,504.0,1 Ave & E 16 St,40.732219,-73.981656,30493,Subscriber,1995.0,1,2018
1,309,2018-10-01 00:00:13.5780,2018-10-01 00:05:23.2310,433.0,old - E 13 St & Avenue A,40.729554,-73.980572,394.0,E 9 St & Avenue C,40.725213,-73.977688,33054,Subscriber,1967.0,1,2018
2,734,2018-10-01 00:00:16.6040,2018-10-01 00:12:31.5050,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33400,Subscriber,1983.0,2,2018
3,788,2018-10-01 00:00:35.0670,2018-10-01 00:13:43.5780,417.0,Barclay St & Church St,40.712912,-74.010202,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,31140,Customer,1988.0,1,2018
4,1136,2018-10-01 00:00:38.1410,2018-10-01 00:19:34.6490,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,495.0,W 47 St & 10 Ave,40.762699,-73.993012,20294,Subscriber,1969.0,0,2018

In [46]:
bike_oct_df.shape

(7391109, 16)

In [47]:
bike_oct_df.to_csv('bike_oct_data_2014_thru_2018.csv')